<!--
    Author: Mutalip Usmanov
    Using Libs : react.production.min, react-dom.production.min, babel.min,axios.min
    Author Libs : config, instance
--!>
<!DOCTYPE html>
<html>
    <head>
        <title>Implement React components to existing project</title>
        <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> 
        <script>
            const csrfToken = token = "Put server csfrToken here";   
        </script>
        <script src='components/config.js'></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="instance.js"></script>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
